.panel {
  width: 600px;
  border-radius: 0;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'futura';
  color: black;
  background: white;
  justify-content: space-between;
  position: relative;
  height: 250px;

  .metade {
    position: absolute;
    width: 50%;
    height: 100%;
    background: black;
    display: none;
    left: 0;
    opacity: 0.5;
    content: '';
  }

  .jesus {
    font-size: 75px;
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    background: #2707aa;
    color: white;
    padding: 6px 0;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }

  .salva {
    font-size: 75px;
    position: absolute;
    top: 50px;
    letter-spacing: 2px;
  }

  .inferno {
    font-size: 106px;
    color: #c70000;
    position: absolute;
    top: 79px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }

  .versiculo {
    top: 215px;
    position: absolute;
    font-size: 18px;
    width: 100%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    text-align: center;
    background: #da0505;
    color: white;
    padding: 4px 0px;
  }

}
